html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.woff") format("woff");
}
body{
	font-family: "Roboto-Regular";
	background-color: #8C8E80;
}
.header{
	display: flex;
}
.header__left{
	background-color: #5F6158;
	width: 440px;
	height: 200px;
}
.header__info{
	max-width: 250px;
	display: flex;
	align-items: center;
}
.header__name{
	font-size: 45px;
	color: #373832;
	line-height: 59px;
}
.header__name:hover{
	font-size: 50px;
}
.header__text{
	font-size: 20px;
	color: #373832;
}
.logo__text{
	left: -18px;
	position: relative;
}
.header__right{
	background-color: rgba(95, 97, 88, 0.5);
	width: calc(100% - 440px);
	height: 200px;
	display: flex;
	z-index: 1;
}
.navbar{	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #E1AA73;
	font-size: 20px;
	padding: 16px 19px;
	text-align: center;
	width: 70%;
	height: 67px;
}
.navbar__item{
	display: inline;
}
.navbar__item + .navbar__item{
	padding: 0 0 0 70px;
}
.navbar__link{
	color: #373832;
}
.navbar__link:hover{
	color: #d70a53;
}
.content{
	width: 100%;
	height: 960px;
	padding: 45px 144px;
	background:  #8C8E80;
	color: #edf1d5;
	line-height: 23px;
	font-size: 20px;
}
.content__name{
	color: #373832;
	margin-bottom: 25px;
}
.content__p{
	margin-bottom: 30px;
}
.cart{
	margin-top: 45px;
	margin-bottom: 45px;
	width: 1171px;
	height: 472px;
}
.footer{
	background-color: #E1AA73;
	width: 100%;
	position: relative;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}
.footer__info{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 23px;
	font-weight: 100;
	width: 300px;
	text-align: right;
	margin-right: 40px;
}
.footer__list{
	display:  flex;
}
.footer__item{
	display: flex;
	border-radius: 30px;
	background: #C4C4C4;position: relative;
	left: 175%;
}
.footer__link{
	cursor: pointer;
	width: 60px;
	height: 60px;
	color: transparent;
}
.footer__item + .footer__item{
	margin-left: 30px;
}