html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
@font-face{
	 font-family: "Roboto-Regular";
	 src: url("../fonts/Roboto-Regular.woff") format("woff");
}
body{
	font-family: "Roboto-Regular";
	background-color: #8C8E80;
}
.header{
	display: flex;
}
.header__left{
	background-color: #5F6158;
	width: 440px;
	height: 200px;
}
.header__info{
	max-width: 250px;
	display: flex;
	align-items: center;
}
.header__name{
	font-size: 45px;
	color: #373832;
line-height: 59px;
}
.header__text{
	font-size: 20px;
	color: #373832;
}
.logo__text{
		left: -18px;
			position: relative;
}
.header__right{
	background-color: rgba(95, 97, 88, 0.5);
	width: calc(100% - 440px);
	height: 200px;
	display: flex;
}
.navbar{	
	display: flex;
	align-items: center;
		justify-content: center;
		margin: auto;
		background-color: #E1AA73;
			font-size: 20px;
	padding: 16px 19px;
	text-align: center;
	width: 70%;
	height: 67px;
}
.navbar__item{
	display: inline;
}
.navbar__item + .navbar__item{
padding: 0 0 0 70px;
}
.navbar__link{
 color: #373832;
}
.navbar__link:hover{
color: #d70a53;
}
.content{
		padding: 63px 125px 96px 91px;
	}
.content__grid{
	display: grid;
	grid-template-columns: 44% 56%;
	grid-template-rows: 450px 360px 460px;
}
.content__photo{
width: 100%; 
 height: 100%; 
 object-fit: cover; 
}
.content__block{
	font-size: 20px;
line-height: 23px;
	color: #EDF1D5;
}
.section__name{
	color: #373832;
	margin-bottom: 10px;
}
.section__text__left{
	padding-right: 20px;
}
.section__text__right{
	margin-bottom: 28px;
}
.text__right{
		padding: 20px 0 40px 30px;
	}
	.text__left{
padding: 20px 10px 20px 0;
	}
.text__red{
	color: #9F3C3C;
margin: 90px 0 25px 0;
}
.section__link{
		color: #373832;
}
.sponsors{
	margin-bottom: 38px;
}
.form{
width: 515px;
height: 110px;
background-color: #E1AA73;
display: flex;
justify-content: center;
	align-items: center;
}
.text__area{
	background-color:  #E1AA73;
border: 3px solid #FFFFFF;
border-radius: 50px;
width: 310.25px;
height: 44.8px;
}
input::-webkit-input-placeholder { 
display: flex;
justify-content: center;
text-align: center;
	font-size: 20px;
	color: #C48D8D;
}
.submit__button{
border: 3px solid #FFFFFF;
box-sizing: border-box;
width: 139.37px;
height: 44.8px;
margin-left: 15px;
background: #CC8400 url("../img/strela.svg") no-repeat center center;
text-indent: -1000em;
}

