html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.woff") format("woff");
}
body{
	font-family: "Roboto-Regular";
}
.header{
	display: flex;
}
.header__left{
	background-color: #5F6158;
	width: 440px;
	height: 200px;
}
.header__info{
	max-width: 250px;
	display: flex;
	align-items: center;
}
.header__link{
	font-size: 45px;
	color: #373832;
	line-height: 59px;
}
.header__link:hover, .text:hover{
	font-size: 50px;
}
.header__text{
	font-size: 20px;
	color: #373832;
}
.logo__text{
	left: -18px;
	position: relative;
}
.header__right{
	background-color: rgba(95, 97, 88, 0.5);
	width: calc(100% - 440px);
	height: 200px;
	display: flex;
	z-index: 1;
}
.navbar{	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #E1AA73;
	font-size: 20px;
	padding: 16px 19px;
	text-align: center;
	width: 70%;
	height: 67px;
}
.navbar__item{
	display: inline;
}
.navbar__item + .navbar__item{
	padding: 0 0 0 70px;
}
.navbar__link{
	color: #373832;
}
.navbar__link:hover{
	color: #d70a53;
}
.aside{
	background-color: #8C8E80;
	position: relative;
	width: 440px;
	font-size: 20px;
	color: #373832;
	padding: 30px 65px;
	line-height: 23px;
	height: 664px;
}
.aside__intro{
	position: relative;
	width: 300px;
}
.aside__item{
	margin: 20px 0;
}
.button{
	background-color: #CC8400;
	position: relative;
	width: 314px;
	height: 72px;
	border-radius: 15px;
	color: #EDF1D5;
	cursor: pointer;
	border: 0;
	font-size: 20px;
}
.button:hover{
	background-color: #3e8e41;
}
.gallery__img{
	background-image: url("../img/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1079px;
	height: 864px;
	position: absolute;
	left: 440px;
	top: 0;
	z-index: 0;
}
.line{
background-color:  #E1AA73;
height: 30px;
}
.section{
	background-color: #8C8E80;
	height: 700px;
	padding: 35px 0;
}
.expositions{
	display: flex;
}
.expositions__aside{
	background-color: #E1AA73;
	width: 440px;
	height: 630px;
	font-size: 20px;
	padding: 47px 57px;
	border: 3px solid #CC8400;
}
.expositions__gallery{
	background-color: rgba(95, 97, 88, 0.75);
	width: calc(100% - 440px);
		height: 630px;
		border: 3px solid #CC8400;
		display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
.expositions__filter{
	display: flex;
	flex-direction: column;
}
.exposition__name{
		margin-bottom: 35px;
}
.exposition__photo{
	width: 100%; 
 height: 100%; 
 object-fit: cover; 
}
.exposition__item{
			margin-bottom: 35px;
}
.arrow{
	width: 55.08px;
height: 55px;
}
.submit__button{
width: 197px;
height: 30px;
background-color: #CC8400;
border: 1px solid #CC1E00;
box-sizing: border-box;
border-radius: 15px;
font-size: 20px;
color: #EDF1D5;
cursor: pointer;
}
.exposition__item{
	position: relative;
}
.filter__input{
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
}
.filter__label{
	padding-left: 18px;
	cursor: pointer;
}
.filter__label:before{
content: "";
display: block;
background-color: #EDF1D5;
border: 2px solid #373832;
border-radius: 50%;
width: 16px;
height: 16px;
z-index: 1;
position: absolute;
top: 0;
left: 0;
}
.filter__input:checked + .filter__label:before{
background-color: #5F6158;
border: 2px solid black;
}
.footer{
	background-color: #E1AA73;
	display: flex;
	align-items: center;
		justify-content: space-between;
padding: 37px 122px 54px 600px;
}
.footer__list{
	display: flex;	
}
.footer__item{
padding: 0 22px;
}
.footer__link{
	width: 40px;
height: 40px;
}
.networks__img{
		width: 50px;
height: 50px;
}
.footer__networks{
	display: flex;
}
.footer__info{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: 100;
	text-align: right;
}
